[2015-09-11 11:19] Naios opened #1 "ToDo: Roadmap"
- [ ] Custom allocator support
- [ ] `std::function` interface backward compatibility

[2015-09-19 22:54] Naios opened #2 "Benchmark"
[code]

[2015-12-14 01:15] #2 closed

[2015-12-14 01:15] #1 closed

[2015-12-30 00:12] Klaim opened #3 "Missing explicit bool operator()"
`std::function` have an explicit bool operator to allow it's user to evaluate if it contains something or not.
Your function implementations does not, but it's necessary for code that stores optional callbacks and want to check if there is something to call before calling.

Looking at the code, it seems to me that in storage_t, impl_t could be set to nullptr when there is nothing assigned. I'm try

[2015-12-30 01:11] Klaim commented on #3
Pull request #4 seems to work for me, I mean your tests pass and mine too (when used in my code that was previously using std::function but now is using unique_function).

[2015-12-30 01:31] Naios commented on #3
Fixed in 4456d92962e290445e2dfc7c66a074c5027ed454, thanks for your improvement.

[2015-12-30 01:31] #3 closed

[2016-02-10 00:20] Rajveer86 opened #5 "Cannot compile with Clang with exceptions turned off"
I would like to use a self-defined version of unique_function using function_base which doesn't throw an exception, as I would prefer to use Clang's default setting of no exceptions. However, as soon as I include the header file, Clang parses it and complains that throw() isn't supported.

Adding the -fdelayed-template-parsing flag to Clang works, however if possible I would rather not use WIP (an

[2016-02-10 00:25] Rajveer86 opened #6 "Undefined std::free, std::abort and std::malloc"
If I do not include cstdlib before including the header file, I receive the following error message for std::free, std::abort and std::malloc:

error : no member named 'abort' in namespace 'std'

Should the header include cstdlib itself?

[2016-02-25 17:07] Naios commented on #6
Sorry, I just saw your two issues, I will take care about it in the next days.

Which toolchain/ platform did you used to build the library ([since the travis build passes with all supported toolchains](https://travis-ci.org/Naios/function2))?

[2016-02-25 17:12] Naios commented on #5
Thanks for the catch and the suggestion, I will add a travis build with exceptions disabled to ensure the exceptions disabled functionality.

[2016-02-25 20:41] Naios commented on #6
I added a test case for missing included headers but [I couldn't reproduce your issue](https://travis-ci.org/Naios/function2/builds/111847892).
Could you elaborate more about your used platform and toolchain?

[2016-02-25 21:46] Rajveer86 commented on #6
Hi,
This happens when trying to compile an Android NDK application. I am using Visual Studio 2015 (with NDK 10e that comes with it), and compiling C++11/C++1y code with Clang (tested with 3.6 and 3.7). I hope this helps!
Thanks,Raj.

Date: Thu, 25 Feb 2016 12:41:11 -0800
From: notifications@github.com
To: function2@noreply.github.com
CC: rajveer_aujla@hotmail.com
Subject: Re: [function2] Undefined

[2016-02-25 22:25] Naios commented on #6
Alright, i can't reproduce it but you are right, std::abort and the other functions belong to the <cstdlib> header which i need to include.

[2016-02-25 22:29] Naios commented on #5
I need to replace the `Catch` testsuite by `gtest `because `Catch` requires exceptions enabled.

[2016-02-25 22:36] Rajveer86 commented on #5
If this is something you are still open to doing considering it will require you to change your test environment then please take your time. I'm in no rush for this so don't worry about doing it as soon as possible!

[2016-02-26 00:42] #6 closed

[2016-02-28 17:21] #5 closed

[2016-02-28 17:28] Naios commented on #5
I also added a no exceptions build to travis](https://travis-ci.org/Naios/function2/jobs/112428336) to ensure further regressions.

[2016-02-29 18:50] Rajveer86 commented on #5
This now works perfectly, thank you!

[2016-02-29 18:50] Rajveer86 commented on #6
Just confirming that this works fine for me now. Thank you!

[2017-12-26 10:54] rachelnertia opened #7 "Reference parameters"
The following code does not compile on MSVC version 19.12.25830.2 (Visual Studio 2017 15.5.1):

[code]

With the errors:

[code]

However, I can get around this using std::reference_wrapper:

[code]

Is this an issue on other compilers? I thought I'd share my workaround in case others run up against this issue and maybe see if it can be fixed, but I don't have enough template metaprogramming exper

[2018-02-21 21:45] Naios commented on #7
Ah, sorry that I totally missed this Issue. I wasn't notified through Github.
Thanks for your Issue report. I will take a look at it in the next few days.

[2018-02-23 00:35] #7 closed

[2018-03-16 07:28] dermojo opened #9 "New release possible?"
Hi!

I'd like to use the library. However, it looks like there have been additional fixes since the last release (2.2.0).
Is it possible to get a new release including them?

Thanks!

[2018-04-03 10:16] 2qif49lt opened #10 "can not store a call to access data member"
[code]
error: conversion from 'int Foo::*' to non-scalar type....
gcc version 6.3.0 (GCC)

but it worked with std::bind
[code]

[2018-04-04 11:43] Naios commented on #9
Yes, I'll release a new version as soon as #10 is fixed.
You may still use the master branch since I always keep it stable as well, as indicated by the CI.

[2018-04-04 13:16] #10 closed

[2018-04-05 20:31] dermojo commented on #9
Thanks a lot!

[2018-04-16 11:44] agauniyal opened #11 "conan.io package?"
Would you mind adding this library to conan.io so that other folks(already on conan) can consume it without having to manually copy-paste header each time?

[2018-04-17 18:36] Naios commented on #11
Yes, I, will take care of this.
It would be great if you could contribute a basic conan file or something which I could maintain and extend.

[2018-04-19 19:21] dermojo opened #12 "Cannot call const-ref to function"
@Naios

-----

### Expected Behavior

Taking functions by const-ref and calling them should be possible (same as std::function).

### Actual Behavior

Calling a const-ref fu2::function fails to compile (same for unique_function and function_view). Output from GCC:
[code]

### Steps to Reproduce

Sample code:
[code]

### Your Environment

- OS: Linux
- Compiler and version: tested with GCC 5.4 & 6.

[2018-04-19 19:31] dermojo opened #13 "Constructing function_view from fu2::function"
@Naios

-----

As a workaround for issue #12 I tried to use fu2::function_view instead of a const-ref to a fu2::unique_function. Implicit conversion doesn't work here (it does for std::function).
Is this intentional?

Sample code (doesn't compile with GCC/Clang):
[code]

The error from Clang looks helpful:
[code]

[2018-04-19 21:16] Naios commented on #12
Thanks for your issue report. I will take a look into this in the next few days.

[2018-04-19 23:48] Naios commented on #12
I took a look into this and the behaviour is as intended.

function2 basically doesn't allow to call a non const signature from a const context,
in order to ensure qualifier correct invocation.
`std::function` for instance allows this, because it doesn't invoke the underlying callable object in a qualifier correct way, which could violate thread safety guarantess and the mutability of a const obje

[2018-04-19 23:48] #12 closed

[2018-04-19 23:49] Naios commented on #13
I will take a look into this, but it seems like this is a bug in the implementation.
The non owning view should accept everything regardless the callable is copyable or not.

[2018-04-20 05:24] dermojo commented on #13
Great, thanks!

[2018-05-21 11:15] scherno2000 opened #14 "Compilation error of fu2::unique_function having a capture [ std::vector< std::vector < std::unique_ptr<int> > > ]"
@Naios

The code attached does not compile. This is probably because of the two dimensional vector of uncopyable objects (unique_ptrs)

By uncommenting the dummy variable at the line 31 in the capture the code compiles and runs as expected

-----

### Commit Hash

Latest commit e30dbbe on 13 Apr

### Expected Behavior

To be compilable, and functioning

### Actual Behavior
It doesn't compile, erro

[2018-05-23 18:45] Naios commented on #14
Thanks for reporting this issue.

I could narrow the test case down to:

[code]

I'll investigate into this.

[2018-05-24 19:04] scherno2000 commented on #14
1) I discovered that is not necessary a double dimension vector

[code]

2) I found a workaround by encapsulating the vector inside a struct

[code]

[2018-06-25 20:55] RedBeard0531 opened #15 "Support and propagate noexcept-qualified function types"
@Naios

Basically, I want this to work
[code]
https://godbolt.org/g/zxVvKT
Propagation may require c++17.

(Removed most of the issue template boilerplate since it doesn't seem to apply to feature requests)

[2018-06-25 20:57] Naios commented on #15
Hey @RedBeard0531,
thank you for your feature request.
I also thought about this, and probably this will be implement in the future.
Yes you are right, it requires C++17, if you would like to open a PR,
I could provide you the necessary help.

[2018-07-17 07:57] FrankHB opened #16 "Wording"
@Naios

[code]

"Arguments" seems the wrong term, and it should be "parameters". They are indeed parts of an argument (`void(int, float) const`) in the sense of type arguments of the template `function`, but not the function arguments in the function call syntax used in client code. It seems incorrect to put it next to "return type".

[2018-08-18 23:28] #16 closed

[2018-08-18 23:28] #13 closed

[2018-08-18 23:28] #14 closed

[2018-08-18 23:29] Naios commented on #15
Thanks for your feature request.
It was implemented by c0b8792f10 and is available now in v3.1.0.

[2018-08-18 23:29] #15 closed

[2018-08-18 23:30] Naios commented on #16
Thanks for your bug report.
It was fixed due to version v3.1.0.

[2018-08-18 23:30] Naios commented on #14
Thanks for your bug report.
It was fixed due to version v3.1.0.

[2018-08-18 23:30] Naios commented on #13
Thanks for your bug report.
It was fixed due to version v3.1.0.

[2018-09-19 10:46] bebuch opened #17 "C++17 noexcept support"
With C++17 the `noexcept`-specification became part of the function type. Do you have any support for it? The documentation doesn't mention it, but I found the specifier in your source.

It would be great if function2 would support `noexcept` for function types. Besides move-only callables this is the second big leak of `std::function`. (https://wg21.link/p0045 tries to fix this.)

If your current

[2018-09-25 23:41] Naios commented on #17
The support for the C++17 `noexcept` qualifier was added in version [3.1.0](https://github.com/Naios/function2/releases/tag/3.1.0) already, see #15.
The qualifier should work automatically out of the box if C++17 is enabled,
see the [corresponding unit tests](https://github.com/Naios/function2/blob/ce2ed01f6d0d3133d366226f96ce2902c1ca814e/test/noexcept-test.cpp#L26-L37) for a usage example.
But yo

[2018-09-25 23:53] #17 closed

[2019-01-15 06:47] maximilianriemensberger opened #20 "Possible typo in property template"
While looking for a unique_function implementation I cam across this lib.  I was wondering about the following line: https://github.com/Naios/function2/blob/d2acdb6c3c7612a6133cd03464ef941161258f4e/include/function2/function2.hpp#L118

That looks suspiciously like a typo. Shouldn't it be instead:
[code]

[2019-01-15 13:14] Naios commented on #20
Thanks for pointing this out, and you were right that's a typo indeed!
It turns out that this typo only affects the internal signature of the type erasure which is not
exposed to the public. For the public interface the property is unwrapped directly such that
the correct `HasStrongExceptGuarantee` bool was used and the issue is not as severe as it seems.

In 8b481ad7bd4b9 I fixed the issue and ad

[2019-01-15 13:36] #20 closed

[2019-01-24 15:23] nitronoid opened #21 "function_view cannot bind to const lambda"
@Naios

-----

### Expected Behavior

The const-ness of the callable should be propagated to the erased function pointer

### Actual Behavior

[code]

### Steps to Reproduce
[code]

[code]
### Your Environment

[code]

[2019-01-24 16:02] Naios commented on #21
From my point of view this is the intended behaviour here because there is no way to access
a method qualified as const from a non const context without ignoring the qualifier.

If you want to create a `function_view` to a const callable object use `fu2::function_view<int() const> view(callable);`

Implementing it in a way you are proposing would heavily violate the const guarantees provided by th

[2019-01-24 16:36] nitronoid commented on #21
Hi, thanks for the fast reply. Firstly, the method you suggest fails with the same error:
[code]

Secondly I disagree with your final remark. If it is guaranteed that casting any pointer to `void*` and back will yield the same pointer, and you are not modifying the stored pointer, then I don't see where the violation occurs? This code appears valid to me:
[code]
I'm am however happy to be told oth

[2019-01-24 18:06] ladnir commented on #21
See [folly/function](https://github.com/facebook/folly/blob/master/folly/docs/Function.md) for a basic explanation. It's about halfway down and I quote the beginning:

[2019-01-24 20:46] Naios commented on #21
Seems like there is a bug in the implementation, I'll provide a fix for that soon.

[2019-01-28 20:10] ales-kunst opened #22 "Problems compiling a test program under MSVS 2017"
@Naios

Hello Naios,

I have tried to use your header only library in my test project on MSVS 2017 version 15.3.5 and I get compiler errors. Let me explain the case:
I have 3 header files (A.h, B.h, C.h) which look as follows:
**_A.h_**
[code]
**_B.h_**
[code]
**_C.h_**
[code]
and **_func2test.cpp.h_**
[code]

Now if I set _Project->Properties->C/C++->Language->C++ Language Standard_ setting to _"

[2019-01-28 22:33] Naios commented on #22
The library works with MSVC 2017 C++14 and C++Latest

[2019-01-28 22:55] Naios commented on #22
The library works with MSVC `/std:c++latest`, `/std:c++17` and `/std:c++14` set (just tested it).
Naios/continuable@d72e1bfb86d1e53a which depends on function2 also builds with MSVC `/std:c++latest` as the [CI indicates](https://ci.appveyor.com/project/Naios/continuable/build/job/j92y6xyqvsn87ok3).

[2019-01-28 22:55] #22 closed

[2019-01-29 19:22] #11 closed

[2019-01-30 05:41] ales-kunst commented on #22
Yep, you are right. I have tried it on another machine which has MSVS 2017 version 15.9.4 and it works. It must be some MSVC problem :(. Thanks for the answer and sorry for any inconvenience.

[2019-03-09 12:35] Hans-Giebenrath opened #23 "std::is_nothrow_move_constructible_v<fu2::unique_function<void()>> possible?"
@Naios

Would it be possible to support
[code]
?
I tried it with gcc (GCC) 8.2.1 20181127 and clang version 7.0.1 (tags/RELEASE_701/final) on Arch Linux. My use case is to store `fu2::unique_function`s in a `std::vector`, but upon resizing the vector, the assertion
[code]
triggers, since the vector copies the elements to the new storage instead of moving.
I don't understand the internals enough to

[2019-03-09 13:33] Naios commented on #23
`std::is_nothrow_move_constructible` should be supported (theoretically) if `HasStrongExceptGuarantee` is set.
This option can be set through instantiating your own `function_base` object which exposes many points of configuration.
The reason why this can't be supported out of the box is that `std::is_nothrow_move_constructible` depends on the underlying erased objects which can't be checked at co

[2019-03-09 18:33] Hans-Giebenrath commented on #23
[code]
(I just recognized, that `-std=c++11` fails to compile.)

[code]

Thank you for your explanation, I will use `HasStrongExceptGuarantee` then.

[2019-03-10 19:26] #23 closed

[2019-03-23 09:04] tobiasheineken opened #24 "Calling rvalue functions twice"
@Naios

-----

### Commit Hash

Git Tag 3.1.0

### Expected Behavior

As Rvalue functions are meant to be single shot functions, the second invocation should result in raising a bad_function_call

### Actual Behavior

Output:

[code]

### Steps to Reproduce

[code]

### Your Environment

- OS: Ubuntu 18.04.1 LTS
- Compiler and version: gcc version 7.3.0 (Ubuntu 7.3.0-27ubuntu1~18.04)

### Addition

[2019-03-27 01:09] Naios commented on #24
Hey, thanks for your issue report.

I thought about this and decided that it is more a feature request than an actual issue of the library, which I don't want to support, due to the following reasons:
* Copying/moving objects by R-value doesn't imply that the object moved from is invalidated. As far as I know the C++ standard says that the behaviour is not specified, what happens with the object m

[2019-03-27 09:34] tobiasheineken commented on #24
Thanks for your response.

The reason I thought this is a bug is due to the following line in your readme:

Do I miss the proper way of using these One-Shot functions?

[2019-03-27 17:01] atomgalaxy opened #25 "Wrong static_assert for function that should be a unique_function."
@Naios

-----

### Commit Hash

e3695b4b4fa3c672e25c6462d7900f8d2417a417

### Expected Behavior

When trying to make a fu2::function with a move-only object, you get an assert_error with the message "Can't wrap a non copyable object into a fu2::function, try using fu2::unique_function instead."

### Actual Behavior

You get an error with "Can't wrap a non copyable object into a unique function!",

[2019-03-27 18:41] Naios commented on #25
Yes, you are right, the assertion message is misleading indeed.
Could you open a pull request with a message which would fit best in your opinion?

[2019-03-27 18:54] Naios commented on #24
The readme text could be misleading here:
Usually the underlying erased object should be responsible for invalidating its state
if called through a R-value qualified `operator() (...) &&`,
but in theory the method could leave the object in any state it likes.
The state of the type erase wrapper and the object it calls are not the same,
but this behaviour is discussable.
For the future I'll make th

[2019-03-31 18:13] Rajveer86 opened #26 "IsThrowing affects movability of fu2::function"
@Naios

-----

### Commit Hash

d2acdb6 (release 4.0.0)

### Expected Behavior

When using fu2::function_base to create a custom unique_function with IsThrowing set to false, storing the custom unique_function in a std::vector should not invoke abort() on vector resize (due to the vector trying to call the copy constructor):

### Actual Behavior

`abort()` is called when the vector tries to copy i

[2019-04-01 00:12] Naios commented on #26
This is probably a duplicate of #23 which was fixed in e3695b4b4.
Could you test whether there are still issues when using the current HEAD e3695b4b4fa3c672e of the master branch?

[2019-04-02 10:22] Rajveer86 commented on #26
Thanks for the quick reply, I'll test this out tonight and will let you know!

[2019-04-02 20:02] Rajveer86 commented on #26
@Naios Sorry I didn't see the other issue, I've confirmed that the current HEAD fixes this. Thank you :)

[2019-04-02 20:02] #26 closed

[2019-09-08 20:07] axalon900 opened #27 "fu2::function_view created from empty fu2::function is not itself empty"
@Naios

Instantiating an `fu2::function_view` from an empty `fu2::function` does not produce an empty `fu2::function_view`. I didn't look into it too deeply but my initial impression is that it's due to the constructor for arbitrary callables `function(T&& callable)` getting called instead of `function(function<RightConfig, property_t> const& right)` as I would expect, so the `erasure_t` is constr

[2019-09-08 23:01] Naios commented on #27
Thanks for your bug report. From my point of view this should be the right behaviour since one couldn't distinguish anymore between whether a `function_view` was empty constructed or through a `function` which is itself empty.
`function_view` is designed to work without knowing anything about the `function`, hence it works the the same way when being passed a `fu2::function` or `std::function` (or

[2019-09-09 01:40] axalon900 commented on #27
I think it's reasonable to expect that the members of the module (`function`, `unique_function`, and `function_view`) would have smarter interop with each other, that is to say, to be aware of each others' existence as callable object wrappers and to handle this case as I had expected. When I initialize a `function` with a `function` (`std` or `fu2`), if the first one is empty, the second one is a

[2019-09-09 04:33] axalon900 commented on #27
To add, a similar issue occurs between compatible (but different) instances of `function`, e.g.
[code]
This is incongruent with `std::function`, where the null state is transferred:
[code]

[2019-09-11 21:54] Naios commented on #27
Thank you for giving me a better insight about your issue. I now agree with you and plan to implement the suggested improvements in a way that doesn't use a specialization for `fu2::function` or `std::function` but will rely on a convertibility to `bool` such that similar function like classes are taken into account as well. The rule will be that if the callable object is also convertible to `bool

[2019-09-12 21:03] optimizedaway opened #28 "Get pointer to target"
@Naios

Great improvement over std::function, but there is no [std::function::target](http://www.cplusplus.com/reference/functional/function/target/) counterpart. I use it for logging addresses of underlying callable objects, very useful for debugging:
[code]
Any chance of implementing such feature?

[2019-09-17 21:35] #27 closed

[2019-09-23 20:23] ZeikoRomsan1 opened #29 "Won't compile with Visual Studio 2019 16.3, 16.2 works good."
@Naios

Error in VS 16.3:

error C2440: 'static_cast': cannot convert from 'fu2::abi_400::detail::type_erasure::erasure<true,Config,fu2::abi_400::detail::property<true,false,void *(void *)>>' to 'erasure_t &'
error C2440:         with
error C2440:         [
error C2440:             Config=fu2::abi_400::detail::config<true,false,fu2::capacity_default>
error C2440:         ]

### Commit Hash

5dcbec

[2019-09-24 07:09] Naios commented on #29
Thanks for your issue report.

Unfortunatly your bug report is incomplete and misses a minimalistic reproducible example of the build error which is based on the current revision 5dcbecd. uNetworking/uWebSockets uses a revision which is from January so it's not up to date and can't be used as a reference.

[2019-09-24 17:31] ZeikoRomsan1 commented on #29
Hello @Naios ,

Here is a minimalistic reprodusable example:

#include "function2/function2.hpp"
int main()
{
	fu2::unique_function<void()> test;
	test();
}

Which gives this error in VS 2019 16.3:
function2\function2.hpp(725,1): error C2440: 'static_cast': cannot convert from 'fu2::abi_400::detail::type_erasure::erasure<true,Config,fu2::abi_400::detail::property<true,false,void (void)>>' to 'eras

[2019-09-25 19:18] Rogiel commented on #29
@Naios I have just updated to 16.3 and got a similar problem with `continuable` (but the problem is probably with `function2`). I will try to get a failing test-case and report back.

[2019-09-26 05:12] Naios commented on #29
@Rogiel Continuable will be affected by this as well since a simple instantiation of `unique_function` will trigger the compile error. Meanwhile I could reproduce this with the following error log:

[code]

[2019-09-26 06:16] Naios commented on #29
I came up with a workaround for this issue and reported it back to Microsoft https://developercommunity.visualstudio.com/content/problem/748886/compiler-regression-in-163-maybe-related-to-expres.html

[2019-09-26 06:23] #29 closed

[2019-09-26 18:00] hadrielk opened #30 "Some compiler warnings are generated"
@Naios

This is relatively minor, but I thought I'd mention it before I forget about them: building `function2` strictly as a copied header with `clang` can trigger a few warnings, if you enable them.

-----

### Commit Hash

`5b8e6de`

### Expected Behavior

Builds cleanly (no warnings).

### Actual Behavior

Building generates warnings, as follows:

1. An `uninitialized-member` warning due to me

[2019-09-26 18:15] Naios commented on #30
Thanks for your report. The `uninitialized-member` warning is triggered because some members are initialized in the content of the constructor, mayne this can be improved.
The other warnings will be fixed soon.

[2019-09-27 14:51] adamemerson opened #31 "Please add an analogue of emplace"
@Naios

Being able to construct an object rather than having to copy/move one in would be very useful, particularly for objects that may be expensive to construct, or (for unique_function) immovable objects. (After all, if they're on the heap we can still move the pointer.)

-----

### Commit Hash

7cd95374b0f1c941892bfc40f0ebb6564d33fdb9

### Expected Behavior

Being able to type something like
`

[2019-09-27 19:17] Naios commented on #31
This sounds like a promising feature.
Probably I will implement it in the future.

[2019-10-04 14:27] alexhultman commented on #29
Thanks for working on this and reporting it to MS

[2019-12-09 23:39] Rajveer86 opened #32 "Compiling as Objective-C++ conflict due to block pointer conversion"
@Naios

-----

### Commit Hash

7cd9537

### Expected Behavior

Compilation works as expected

### Actual Behavior

Compilation fails with the following error:

`.../function2.hpp:1131:14: Call to implicitly-deleted copy constructor of 'const (lambda at .../main.mm:27:25)'`

`Implicit capture of lambda object due to conversion to block pointer here` (1131:14, `if (bool(callable)) {`)

### Steps to

[2019-12-10 01:44] Naios commented on #32
This library was not written to work with Objective-C++.

If you would come up with a solution by yourself I would be happy to accept a PR,
but this will not be fixed by me.
Also I don't have the OSX Xcode toolchain available for development.

[2019-12-10 01:44] #32 closed

[2019-12-10 18:23] gjasny opened #33 "Please release a v4 patch release"
Hello,

could you please release a new version which includes the MSVC 16.3 fix (#29)? I'm adding `function2` to Microsoft vcpkg [here](https://github.com/microsoft/vcpkg/pull/9246) and would like to use a proper version.

Thanks,
Gregor

[2019-12-12 20:30] Rajveer86 commented on #32
That's fair enough. It looks like conversion to block pointer is by design for lambda-block interopability in Objective-C++ (http://clang.llvm.org/docs/LanguageExtensions.html#interoperability-with-c-11-lambdas) so I've decided to just disable the bool() operator optimisation if compiled as Objective-C++ by defining FU2_WITH_NO_EMPTY_PROPAGATION.

[2019-12-12 21:03] Naios commented on #32
Could you point out which part of the empty bool propagation is causing troubles with Objective-C?

[2019-12-12 21:41] Rajveer86 commented on #32
Sure, it's any time where `bool(callable)` is performed (e.g. line 1139), I created a minimal example [here](https://stackoverflow.com/questions/59292997).

[2019-12-12 21:54] Naios commented on #32
But why? The library doesn't call `bool(callable)` on every callable which is passed to it but only the ones where this check is possible (guarded through specialization): https://github.com/Naios/function2/blob/7cd95374b0f1c941892bfc40f0ebb6564d33fdb9/include/function2/function2.hpp#L1361-L1394

[2019-12-12 22:56] Rajveer86 commented on #32
I see, so it's not an issue of the callable being converted to a block pointer at the `bool(callable)` callsites, but it's an issue of the callable passing the specialization when it shouldn't.

[2019-12-12 23:52] Rajveer86 commented on #32
From what I can tell my example compiles fine in Xcode with Clang when compiled just as regular C++ and I can hit the line `*myHeapInt = 5;`, so this may be a problem with the specialisation incorrectly passing in Clang even as C++ and then just failing in Objective-C++ due to the block pointer conversion causing a copy.

[2020-01-03 01:24] jurko-gospodnetic opened #35 "function2 seems to fail when modeling functions returning references"
@Naios

Perhaps I'm misunderstanding something, but I have a use-case where `fu2::function` & `fu2::unique_function` usage fails to compile while the same code compiles and runs fine using `std::function`.

-----

### Commit Hash

noticed using `function2.hpp` sources from commit 7cd95374b0f1c941892bfc40f0ebb6564d33fdb9

### Expected Behavior

fu2::function is a drop in replacement for std::functi

[2020-01-03 07:55] Naios commented on #35
Thanks for your report, I fixed this in 93089d56b.
It will be available once the fix passed the CI.

[2020-01-03 08:43] #35 closed

[2020-01-03 19:13] jurko-gospodnetic commented on #35
Confirmed this fixes both the problem reported here and the one I was seeing in my Visual Studio project, :-) Thanks!

[2020-04-02 09:56] Naios commented on #33
https://github.com/Naios/function2/releases/tag/4.1.0

[2020-04-02 09:56] #33 closed

[2020-04-18 08:54] romange opened #36 "Suggestion: Allow users of function2 to know easily whether their lambdas are stored inplace"
@Naios  Suggestion

For example,
[code]
This could be useful to maintain code over time and not to break performance-related assumptions..
-----

[2020-04-19 16:38] Naios commented on #36
This yould be really useful indeed.
Probably this will be implemented in the future.

[2020-06-29 00:58] IceflowRE opened #38 "Cmake version is outdated"
The CMake version is still 4.0.0 even it 4.1.0 is already released.

[2020-07-01 10:43] Naios commented on #38
Ah yes, thanks for pointing this out.

[2020-07-03 22:58] #38 closed

[2021-03-29 03:54] jk-jeon opened #45 "[feature request] Suggestions about fu2::function_base"
@Naios Here are some suggestions about `fu2::function_base`.

1. There are too many boolean template parameters. It's hard to imagine what specific combination of policies are given if we just write
[code]
In my opinion, better alternatives might be:
- Use separate `enum` types for each policy parameter, or
- Change policy parameters from non-type parameters to type parameters, and define new empt

[2021-03-29 15:31] Naios commented on #45
Yes, you are right about the `bool` configuration. Using a strongly typed enum would prevent misconfiguration and would be an improvement. However, changing this would lead to a breaking change I could do earliest at the next major version bump.

Currently, the `HasStrongExceptGuarantee` only propagates `noexcept` from erased objects to the signature of the move construct and move assign of the ty

[2021-03-30 08:02] jk-jeon commented on #45
Sounds great.

There are no guarantees made (yet) about the strong exception guarantees of the type erasure (function_base) itself.

Hmm. I'm not sure if I got you correctly. So my current understanding is that, if the underlying object's move constructor/assignment are not noexcept, and if HasStrongExceptGuarantee is set to be true, and if SBO is in action, then the move actually behaves as if it

[2021-03-30 10:26] Naios commented on #45
https://en.cppreference.com/w/cpp/language/exceptions

Currently point 2) is not supported by function2. The only thing that `HasStrongExceptGuarantee` does is to mark its move constructor, move assignment operator, and destructor as `noexcept` and requires the wrapped object to also have a `noexcept` move constructor, move assignment operator, and destructor. The reason for this is that `std::vec

[2021-03-30 11:07] jk-jeon commented on #45
Thanks for clarification. Looking forward to the next release!

[2021-06-14 08:58] gjasny opened #46 "Please create a new release"
Hello,

thanks for maintaining this really useful library!

It's been a while since the last release. Could you please create a new one?

Thanks,
-Gregor

[2021-06-16 17:23] #46 closed

[2022-05-16 19:35] mystor opened #48 "-Waddress warning generated for non-capturing lambdas on gcc <= 9.2"
@Naios

In gcc versions before 9.3, the compiler would generate a `-Waddress` warning complaining that the address of a lambda's function will never be null if it is cast to a boolean ([compiler explorer](https://godbolt.org/z/WT1dWeeTx)), even in generic code.

This impacts function2 because the generic logic to determine if a newly-constructed function object should be empty ends up triggering t

[2022-05-16 20:40] Naios commented on #48
I'm actually not sure what is happening there. The library never calls the bool comparison if the object does not provide one.
A lambda should never provide a comparison to bool, am I right?

The library already specializes this out, and the path of the comparison should never be taken in such cases see: https://github.com/Naios/function2/blob/035bec21533f484c1b5dd8dd0380109ea431f6a1/include/funct

[2022-05-16 20:44] mystor commented on #48
Lambdas which don't capture any members do provide a comparison to bool through their implicit conversion to a function pointer (https://godbolt.org/z/Y484rq5c1)

[code]

[2022-05-16 21:01] Naios commented on #48
Well ok, I'm developing mainly with MSVC (and MSVC does not support this behaviour) so I was not aware of an implicit conversion to bool, thanks for your explanation.

I'm not sure how to fix this warning yet. I will take a look into it.

Btw. GCC's behaviour is inconsistent, using `!!` instead of `bool(_)` also triggers the warning in GCC 9.3.

https://godbolt.org/z/v6zxKac53

[2022-05-17 15:11] Naios commented on #48
I implemented a potential fix (https://github.com/Naios/function2/commit/4097e10b7e0bc60e9336c6b689e01612208fba79), however, I noticed that is is probably not possible to fix the warning without introducing potential edge cases with bad side effects. Basically, it is not possible to detect whether the given class is a lambda or a regular object implementing `operator()`. A regular class could stil

[2022-05-17 21:18] mystor commented on #48
One other possibility which might be nicer would be to add a build option to have empty propagation modeled more after the way that `std::function` handles it, so instead of having it be based on whether it can implicitly coerce to `bool` it's based on a set of known types which should support empty pointers.

For this, it'd probably end up looking like this (https://godbolt.org/z/nE3MnPdzY):

[co

[2022-05-26 10:29] MBkkt opened #50 "Compile time bug with noexcept specifier"
@Naios

Cannot use noexcept specifier.
Looks like a compile time bug. I think something should be sfinae but its not

-----

### Commit Hash

last, 035bec21533f484c1b5dd8dd0380109ea431f6a1

### Expected Behavior

Should compile

### Actual Behavior

Don't compile

### Steps to Reproduce

[See godbolt
](https://godbolt.org/#z:OYLghAFBqd5QCxAYwPYBMCmBRdBLAF1QCcAaPECAMzwBtMA7AQwFtMQByARg9KtQYEAysib0Q

[2022-05-27 21:14] Naios commented on #50
Your issue is missing a minimalistic reproducible example: I cannot guess from vague chosen identifiers like "Bruh" or "Kek" what is the behaviour you are expecting from the library and whats not working as intended.
Provide an example with no indirections (over `unique_ptr` and constructors) please.

Note that `noexcept` in function definitions only works on C++17 and above (due to limitations of

[2022-05-27 21:20] MBkkt commented on #50
@Naios
I think its simple, and you and you are nitpicking, but
https://godbolt.org/z/bfYW539YW

[2022-05-27 21:22] MBkkt commented on #50
For some reason GCC starts with 10 or 11 (forgot) first try to call function ctor instead of move ctor

[2022-05-27 21:35] MBkkt commented on #50
Make it better and permanent [link](https://godbolt.org/#z:OYLghAFBqd5QCxAYwPYBMCmBRdBLAF1QCcAaPECAMzwBtMA7AQwFtMQByARg9KtQYEAysib0QXACx8BBAKoBnTAAUAHpwAMvAFYTStJg1DIApACYAQuYukl9ZATwDKjdAGFUtAK4sGIM6SuADJ4DJgAcj4ARpjEEgAcpAAOqAqETgwe3r7%2ByanpAiFhkSwxcVyJdpgOGUIETMQEWT5%2BXLaY9o4CdQ0ERRHRsXoK9Y3NOW0jvf0lZRIAlLaoXsTI7BwmGgCC5gDMocjeWADU5mYIBARJCiAA9LfETADuAHTAhAheUV5Kq7KMBBeaBYt3CTCcCluVC8DBqAjMtx

[2022-05-27 21:41] MBkkt commented on #50
[Example](https://github.com/arangodb/arangodb/blob/devel/arangod/RestHandler/RestReplicationHandler.cpp#L3530) of the real usage:
Some object that will be stored as ptr to virtual base class, also contains CallbackGuard that contains noexcept functor

[2022-05-27 22:35] Naios commented on #50
@MBkkt I'm not nitpicking. The naming of identifiers is not truly relevant in this example, the indirection however is. If you remove the additional indirections, your problem is instantly visible:

[code]
It seems like there is something wrong with the SFINAE guarding the constructor which works without noexcept but not with noexcept specified.

Until this gets fixed you can use a tag to differen

[2022-05-27 22:57] MBkkt commented on #50
@Naios Btw fix is easy:

[code]

[2022-05-27 23:01] MBkkt commented on #50
Or
[code]

[2022-05-27 23:16] Naios commented on #50
Could you PR your first fix that uses `is_noexcept_correct_lazy`? `std::conjunction` is a C++17 feature and cannot be used by the library (although a polyfill could be used). This is probably also a GCC compiler bug (Clang compiles it fine).

[2022-05-27 23:18] MBkkt commented on #50
Ok

I think it's true, it's really strange that it try to substitute to overload with unique_function first instead of move ctor

[2022-06-01 21:18] #48 closed

[2022-06-01 21:21] Naios commented on #50
Solved in https://github.com/Naios/function2/pull/51

[2022-06-01 21:21] #50 closed

[2022-06-16 22:09] TheBitshifter opened #52 "Potential null pointer dereference in Function2"
@Naios

-----

### Commit Hash

Function2 tags 4.2.0 and 4.2.1, hashes:
02ca99831de59c7c3a4b834789260253cace0ced
f569a63cfe369df867a1a4d17aaa12269156536c

### Expected Behavior

Test case pasted below compiles without errors with
`g++-11 -O1 -Wnull-dereference   -c -o null-deref.o null-deref.cpp`

### Actual Behavior
Test case given below produces a warning for a null pointer dereference:
[code]

[2022-06-16 22:43] Naios commented on #52
Thank you for your report. I'm quite certain that this is a false positive. I will take a closer look into it.

[2022-08-28 17:44] Ahajha commented on #36
This could also be useful as a configuration option to disallow function objects that are too large for SFO.
[code]

[2022-08-28 18:00] Naios commented on #36
Yes, that's right. Something like `fu2::inplace_function` (which itself could be a specialization of `fu2::function_base`) could be quite useful.

[2022-10-08 12:49] redboltz opened #54 "Got MSVC error C2248 when I use unique_function with boost::callable_traits::is_invocable"
@Naios

When I use `fu2::unique_function` with `boost::callable_traits::is_invocable` on msvc v19.33 or older (on godbolt) , then I got C2248 error.
It doesn't happen with `std::function`.
When I test it on msvc latest (on godbolt), no error happens.
When I test it on g++ and clang++, no error happens.

It might be msvc issue, but msvc v19.33 is not so old. If `fu2::unique_function` could avoid th

[2022-10-08 13:00] redboltz commented on #54
I noticed that when I replace `boost::callable_traits::is_invocable` with `std::is_invocable` (since C++17), then the error is disappeared.

https://godbolt.org/z/vM19nhfv7

It seems that the issue is caused by boost::callable_traits.

But still unclear for me.

[2022-10-08 20:12] Naios commented on #54
I would not count on `boost::callable_traits::is_invocable`, they even specialize for `std::function` for whichever reason:

[code]

https://github.com/boostorg/callable_traits/blob/master/include/boost/callable_traits/detail/is_invocable_impl.hpp

My guess is that they try to access the `operator()` to the function2 object by member function pointer or similar to trigger the issue. The issue goes

[2022-10-09 09:29] redboltz commented on #54
Thanks you the response.
I will use `std::invocable` on C++17 and use some workaround on C++14.
My project requires C++14 or later, so it is enough for me.

Also I've checked _MSC_FULL_VER.

_MSC_VER | _MSC_FULL_VER | result
---|---|---
1934 | 193431921 | success
1933| 193331631 | C2248 error

I will check the release note and developper community. If I would find the compiler bug fix that is rela

[2022-10-12 02:14] badair commented on #54
For the record, it's definitely not specializing for `std::function`. That's something in the private `details` namespace.

That is correct.

Interestingly, the case in question works for GCC and Clang, and ICEs an older version of MSVC. I haven't seen this case before. Anyway,  yes, definitely use `std::is_invocable` when possible.

[2022-10-13 07:39] Naios commented on #54
@badair Thank you for pointing this out.

Sadly it is impossible to work around this issue in this library.
For multiple function signatures me must inherit from multiple objects. Also the inheritence must be private in order to make empty object optimization work.

When possible this could be removed in the boost callable trait by just testing the expression `decltype(callable(args...))` as `std:

[2022-10-13 07:39] #54 closed

[2022-11-13 14:28] Mrkol opened #55 "Incomprehensible error message on clang"
@Naios

When trying to initialize `fu2::function_view<float(float)>` with an object of type `fu2::function<float(float) const>`, clang 14 spews out an incomprehensible error message without a proper "instantiation stack". It is possible to infer what the problem is from `const T` not being castable to `void*` inside `address_taker`, but I think a proper concept or static assert based error message